<% if notification.actor %>
  <%= link_to "@#{notification.actor.display_name}", user_path(notification.actor), class: "notifications-item__actor" %>
<% else %>
  <span class="notifications-item__actor">Someone</span>
<% end %>
<span class="notifications-item__verb"> posted a devlog</span>
<% project = notification.record&.post&.project %>
<% if project %>
  <span class="notifications-item__verb">on</span>
  <%= link_to project.title, project_path(project), class: "notifications-item__actor" %>
<% end %>
