<% if notification.actor %>
  <%= link_to "@#{notification.actor.display_name}", user_path(notification.actor), class: "notifications-item__actor" %>
<% else %>
  <span class="notifications-item__actor">Someone</span>
<% end %>
<% others = notification.group_count.to_i - 1 %>
<% if others > 0 %>
  <span class="notifications-item__verb"> and</span> <strong><%= pluralize(others, "other") %></strong>
<% end %>
<span class="notifications-item__verb"> commented on</span>
<% project = notification.record&.commentable.respond_to?(:post) ? notification.record.commentable.post&.project : nil %>
<% if project %>
  <%= link_to project.title, project_path(project), class: "notifications-item__actor" %>
<% else %>
  <span class="notifications-item__verb">your project</span>
<% end %>
